{% extends 'base.html' %} {% block container %}
<h2>Add a new review</h2>
<p>Add a new movie review in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Your name:<br/>
    <input type="text" id="fname" name="fname" /><br/></p>
  <p>Movie:<br/>
    <input type="text" id="fmovie" name="fmovie" /><br/></p>
  <p>Director:<br/>
    <input type="text" id="fdirector" name="fdirector" /><br/></p>
  <p>Year released:<br/>
    <input type="text" id="fyear" name="fyear" /><br/></p>
  <p>Rating:<br/>
    <select id="frating" name="frating">
      <option value="&#9733;">&#9733;</option>
      <option value="&#9733;&#9733;">&#9733;&#9733;</option>
      <option value="&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;</option>
      <option value="&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;</option>
      <option value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
    </select><br/></p>
  <p>Review:<br/>
    <textarea id="freview" name="freview" rows="3" cols="70"></textarea><br/></p>
  <p>
    <input type="submit" class="button1" value="Add" />
    <a href="{{ url_for('read')}}">
      <button class="button2">
        Cancel
      </button>
    </a>
  </p>
</form>
{% endblock %}
