{% extends 'base.html' %}

{% block container %}
<h2>All Reviews</h2>
<p>This page shows information pulled from a MongoDB database collection.
        
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted by <b>{{doc.name}}</b> at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
        </p>
        <p class="review">
            {{doc.rating}} <br>
            Review of <b>{{doc.movie}}</b>({{doc.year}}) directed by <b>{{doc.director}}</b>
            <br>
            <br>
            {{doc.review}}
            </br>
            </br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">
                <button class="button3">
                    Edit
                </button>
            </a> 
            <a href="{{ url_for('delete',mongoid=doc._id)}}">
                <button class="button3">
                    Delete
                </button>
            </a>
        </p>   
    </div>
    {%endfor%}
</p>
{% endblock %}